node_modules
out
dist
dist-electron
release
*.local
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
